
footer.flex {
  justify-content: space-between;
  padding-bottom: 1.9rem;
}


footer.flex p {
  color: rgb(113, 113, 112);
}

footer.flex .all-icons {
  font-size: 1.3rem;
  gap: 1.5rem;
  color: var(--subtitle);
}

footer.flex .all-icons a {
  color: var(--subtitle);
}
footer.flex .all-icons .icon:hover { 
  font-size: 1.4rem;
  transition: 0.3s;
  cursor: pointer;
  color: var(--icon-hover);
}


@media (max-width: 900px) {
  footer.flex {
    flex-direction: column;
    gap: 1rem;
  }
}  

@media (max-width: 500px) {
  footer.flex {
    font-size: .7rem;
  }
  footer.flex p {
    font-size: .7rem;
  }
}  